.para-style{
    color: green;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

.my-style{
    color: red;
    border: 2px;
    font-weight: bold;
}

.anim{
    box-shadow: 0 15px 18px 0 rgb(50, 23, 114);
    opacity: 0.5;;
}